@font-face {
	font-family: 'TT Lakes'; 
    font-style: normal;
		src: local('TT Lakes'),
        url(../fonts/TTLakes-Medium.woff); 
}

@font-face {
	font-family: 'TT Lakes'; 
    font-style:italic;

		src: local('TT Lakes'),
        url(../fonts/TTLakes-Regular.woff); 
}

@font-face {
	font-family: 'TT Lakes'; 
    font-style: bold;
		src: local('TT Lakes'),
        url(../fonts/TTLakes-Bold.woff);
} 

.cross {
    background-image: url(../img/cross.svg);
    width: 40px;
    height: 40px;
}

.logo {
    background-image: url(../img/Group.svg);
    width: 97px;
    height: 51px;
}

.search {
    background-image: url(../img/search.svg);
    width: 40px;
    height: 40px;
}

.header__nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color:#FFFFFF
}

.header__nav-menu {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 16px;
}

/* .header__nav-menu button {
    margin-left: px;
} */

.cross:hover, .search:hover{
    border: 3px solid #62cbc2;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.aside {
    max-width: 320px;
    height: 100vh ;
    box-shadow:  50px 0 50px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 16px 24px;
    max-width: 320px;
    }

.main {
    max-width: 320px;
    /* height: 100vh; */

}

.nav__list{
    margin-top: 35px;
}

.nav__list a{
    display: flex;
    font-family: 'TT Lakes';
    font-style: italic;
    height: 46px;
    padding:  8px 16px;
    color: #000;
    
}



.call {
    background-image: url(../img/call.svg);
    width: 40px;
    height: 40px;
    background-repeat:no-repeat
}

.chat {
    background-image: url(../img/chat.svg);
    width: 40px;
    height: 40px;
}

.profile {
    background-image: url(../img/profile.svg);
    width: 40px;
    height: 40px;
}

.nav__list a:hover:before{
    content: url(../img/highlight_mobile.svg);
    position: relative;
    right: 35px;
}

.nav__list a:hover {
    padding:  8px 12px;
    color: #7E7E82;
}

.footer__list {
    display: flex;
    gap: 16px;
    margin-left: 15px;
    align-items: center;
    justify-content: space-around;
    

}

.footer__list button{
 width: 40px;
 height: 40px;
}

.footer__list button:hover{
    border: 3px solid #62cbc2;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-size: contain;
    

}

.footer__mail a {
    font-family: 'TT Lakes';
    font-style: italic;
    margin-left: 45px;
    margin-top: 16px;
}

.footer__number a {
    font-family: 'TT Lakes';
    font-style: bold;
    margin-left: 45px;
    margin-top: 12px;
    display: block;
}

.footer__lang button {
    font-family: 'TT Lakes';
    font-style: italic;
    margin-left: 45px;

}

.footer__lang {
    display: flex;
    margin-bottom: 16px;
    margin-top: 32px;

}

.footer__lang button:hover {
    color: #7E7E82;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;

}
